// @media only screen and (max-width: 799px) {
    .contact-us {
        padding: 1vw 5vw;

        img{
            width: 90vw;
        }
    }

    
    .showcase-images {
        display: flex;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        img {
            width: 100%;
            border-radius: 2%;
        }
    }
// }