// @media screen and (max-width: 799px) {
.home-page {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.home-intro {
  padding: 5vw;
}

.intro-header {
  color: var(--dark);
}

.home-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../assets/media/images/wallpapers/wallpaper3.jpg");
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .showcase-card {
    display: flex;
    flex-direction: column;
    align-items: auto;
    background-color: hsla(0, 0%, 100%, 0.9);
    padding: 1rem;
    margin: 0.5em;
    border-radius: 0.8rem;
  }

  .tags {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .blog-title {
    color: var(--dark);
  }

  .blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blog-writer {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.home-language {
  margin: 0rem 5vw;

  .language-navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .language-link {
    color: $secondary_color_dark;
    &:hover {
      color: $secondary_color;
      transition: 1s all ease-out;
    }
  }

  .active-langauge-link {
    color: $secondary_color_light;
  }
}

.home-philosophy {
  padding: 2vh 5vw;
  background-color: var(--grey);
  color: var(--white);
}

.popular-title {
  color: var(--dark);
  margin: 0vw 5vw;
  text-align: center;
}

.home-popular {
  overflow-x: scroll;

  

  .popular-post-slide {
    display: flex;
    padding: 0vw 5vw;
  }
}

.home-aim {
  .aim-text {
    color: var(--dark);
  }
}

.home-recent {
  padding: 3vh 5vw;
  background-color: var(--grey);
  .recent-title {
    color: var(--dark);
    // text-align: center;
  }
}

.home-testimony {
  padding: 0vh 5vw;
}

.home-contact {
  .contact-text {
    color: var(--dark);
  }
}

.home-email {
  padding: 2vh 5vw;
  background: url("../assets/media/images/blogs/sigmund-LyF5jsdcYW0-unsplash.jpg")
    center no-repeat;
  background-size: cover;
  padding: 1rem 0rem;
  color: var(--white);

  input {
    border: 2px solid var(--grey);
    margin: 0.5em 0vw;
    padding: 1em;
    opacity: 0.8;
    color: aqua;
  }
}

@media screen and (max-width: 799px) {
  .mobile:nth-child(n + 4) {
    display: none;
  }

  .languages-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 799px) {
  .language-link {
    padding: 0.8em;
  }

  .recent-card-list {
    display: flex;
    flex-direction: column;
  }

  .home-email {
    input {
      width: 90%;
    }
  }
}

@media screen and (min-width: 800px) {
  .languages-card {
    display: flex;
  }

  .recent-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .home-email {
    input {
      width: 50%;
    }
  }
}
