.nav-link {
  padding: 0.4em;
  color: $primary_color_dark;
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.1);
}

.active-nav-link {
  padding: 0.4em;
  color: $primary_color;
  border-bottom: 2px solid $primary_color_light;
  transition: all 0.2s ease-out;
}

.footer {
  padding: 5vh 5vw;
  text-align: center;
  background-color: var(--grey);
}
@media only screen and (max-width: 799px) {
  .header {
    z-index: 20;
    position: sticky;
  }

  .logo-row {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 5vw;
    background-color: $primary_color;
    z-index: 20;
  }

  .menu-button {
    padding: 0.5em;
  }

  .hide {
    width: 0vw;
    height: 100vh;
    transition: all 0.4s ease;
    overflow: hidden;
    z-index: -10;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .navbar {
    @extend .hide;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    overflow: hidden;
    transition: all 0.4s ease;
    background-color: hsla(32, 84%, 80%, 0.9);
  }
  
  .nav-list {
    padding: 20vh 25vw 30vh 25vw;
  }

  .nav-link {
    border-bottom: 2px solid $primary_color_light;
  }

  .navbar-item {
    padding: 1.5vh 0vw;
  }
}
