* {
  padding: 0px;
  text-decoration: none;
  list-style: none;
  margin: 0px;
  border: none;
  border-radius: none;
  box-sizing: border-box;
}
@import './variables';
@import "./mobile";
@import "./desktop";
@import "./about";
@import "./contact";
@import "./form";
@import "./homepage";
@import "./language";
@import "./blog";
@import "./blogList";
@import "./about";
@import "./templates";